@model HS_RoS_DeckPredictions.Models.Deck

@{
    ViewBag.Title = GetHeader(Model);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions
{
    public static List<string> GetClasses()
    {
        return HS_RoS_DeckPredictions.Models.Classes.ClassesNames;
    }

    private static string GetHeader(HS_RoS_DeckPredictions.Models.Deck deck)
    {
        return deck.DeckId == 0 ? "New deck" : "Edit deck";
    }
}

    <h2>@GetHeader(Model)</h2>

@using (Html.BeginForm("SaveDeck", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(d => d.Name)
        @Html.TextBoxFor(d => d.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.DeckClass)
        @Html.DropDownListFor(c => c.DeckClass, new SelectList(GetClasses()), "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.DeckType)
        @Html.TextBoxFor(d => d.DeckType)
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Rank)
        @Html.TextBoxFor(d => d.Rank)
    </div>

    if (Model.DeckId != 0)
    {
        @Html.HiddenFor(d => d.DeckId)
    }


    <button type="submit" class="btn btn-primary">Save</button>
}